<div class="datasource-options-container">
    <div class="datasource-selector">
        <label for="datasource" style="font-size: 12px">Fonte de Dados:</label>
        <div class="input-group w-100">
            <ng-select
                id="datasource"
                placeholder="Selecione uma Fonte de Dados"
                (ngModelChange)="updateDatasource($event)"
                [ngModel]="dataSourceSelected"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                [searchable]="true"
                [items]="dataSources"
                [clearable]="false"
                style="flex-grow: 1; width: 214px;"
            >
            </ng-select>
        </div>
    </div>
    <div class="datasource-selector" [hidden]="!dataSourceSelected" *ngFor="let item of dataSourceBindOptions">
        <label for="datasource" style="font-size: 12px">{{ item.label }}:</label>
        <fb-select-column
            [valueChange]="changedKeysSelected(item.key)"
            [value]="dataSourceSelectedKeys[item.key]"
            [multiple]="item.rules.max !== undefined  && item.rules.max !== null ? item.rules.max > 1 : true"
            placeholder="Colunas"
            [searchable]="true"
            [items]="dataSourceKeysItems[item.key]"
        ></fb-select-column>
    </div>
</div>
