@import '../../style/scrollbar';

@mixin field-item {
    margin: 5px 0;
    padding: 3px;
    background: white;
    border-radius: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 130px;
    position: relative;
    font-size: 14px;

    &.custom {
        background-color: rgb(102, 51, 153);
        color: black;
    }

    &.filter {
        background-color: rgb(231, 231, 231);
        color: black;
    }

    &.number {
        background-color: rgba(66, 133, 244, 0.9);
        color: black;
    }

    &.text {
        background-color: rgba(66, 244, 128, 0.9);
        color: black;
    }

    &.date {
        background-color: rgba(246, 109, 0, 0.9);
        color: black;
    }

    .column-icon {
        font-weight: bolder;
        font-size: 12px;
        padding: 0 5px;
        height: 100%;
        border-right: solid rgba(0, 0, 0, 0.15) 1px;
    }

    .field-text {
        vertical-align: middle;
        max-width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
    }

    .remove-icon {
        padding: 6px;
        position: absolute;
        right: 0;
        cursor: pointer;
        color: black;
        height: 100%;
        top: 0;

        &:hover {
            color: #d9d9d9;
        }
    }
}

.datasource-options-container {
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 14px;

    .datasource-selector {
        flex: 0 0 10%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 10px;
    }

    .field-selector-container {
        flex: 0 0 88%;
        display: flex;

        .field-selector {
            border-top: solid 1px #4444;
            border-right: solid 1px #4444;

            flex: 0 0 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .field-bindings {
                @include scroll-style;
                position: relative;
                overflow: auto;
                padding: 0 5px;
                border-top: solid 1px #4444;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;

                &.not-allowed {
                    background-color: rgba(165, 165, 165, 0.2);
                    &, * {
                        opacity: 0.8;
                        cursor: not-allowed !important;
                    }
                }

                &:first-child {
                    border-top: none;
                }

                .field-bindings-label {
                    color: #6c757d;
                    display: inline-block;
                    position: sticky;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-weight: bold;
                    z-index: 2;
                    padding: 5px;

                    .field-bindings-icon {
                        padding: 6px;
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                        height: 100%;
                        top: 0;

                        &:hover {
                            color: #42484e;
                        }
                    }
                }

                .field {
                    z-index: 1;
                    @include field-item;
                    cursor: grab;
                }
            }
        }

        .field-list {
            border-top: solid 1px #4444;
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .field-list-wrapper {
                @include scroll-style;

                position: relative;
                overflow: auto;
                padding: 0 5px;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;

                .field-list-label {
                    color: #6c757d;
                    display: inline-block;
                    position: sticky;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-weight: bold;
                    z-index: 2;
                    padding: 5px;
                }

                .field {
                    @include field-item;
                    cursor: grab;
                }
            }
        }
    }
}

.cdk-drag-preview {
    z-index: 9000!important;
    @include field-item;

    .remove-icon {
        display: none;
    }

    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(99, 99, 99, 0.3);
}

.cdk-drag-placeholder {
    opacity: 0 !important;
    cursor: revert;
}

.cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.field-bindings.cdk-drop-list-dragging .field:not(.cdk-drag-placeholder) {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}
