<ng-template #fieldsData let-data="data">
    <ng-container *ngFor="let item of data; let i = index; trackBy: trackByKey">
        <div *ngIf="item.type === 'text' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon stackItemSize="1x" icon="heading"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div class="container-editor-group" *ngIf="item.type === 'editorgroup' && this.checkDependenceKey(item)">
            <label class="container-editor-label">{{ item.label }}</label>
            <div class="container-editor-children">
                <ng-container *ngTemplateOutlet="fieldsData; context: { data: item.children }"></ng-container>
            </div>
        </div>
        <div *ngIf="item.type === 'number' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="number"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon icon="sort-numeric-up-alt" stackItemSize="1x"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'range' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    type="range"
                    class="form-control-range"
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    [step]="item.step || 1"
                    [min]="item.min || 0"
                    [max]="item.max || 100"
                />
            </div>
        </div>
        <div *ngIf="item.type === 'themepalette' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="palette-container">
                <div class="palette-color" *ngFor="let color of form[item.key]; let i = index; trackBy: trackBy"
                     [style.backgroundColor]="color">
                    <fa-icon class="palette-color-remove" icon="times" (click)="removeColor(item.key, form[item.key], color)"></fa-icon>
                    <input
                        [id]="'color-pick' + i"
                        class="color-change"
                        [(ngModel)]="form[item.key][i]"
                        (ngModelChange)="setValueColor(item.key, form[item.key], i)"
                        type="color"
                    />
                </div>
                <div class="palette-color-add" (click)="addColor(item.key, form[item.key])">
                    <fa-icon icon="plus"></fa-icon>
                </div>
            </div>
        </div>
        <div *ngIf="item.type === 'fontsize' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="number"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon icon="long-arrow-alt-up" stackItemSize="1x" transform="right-6"></fa-icon>
                    <fa-icon icon="font" stackItemSize="1x" transform="left-3"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'color' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="color"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon stackItemSize="1x" [fixedWidth]="true" icon="palette"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'checkbox' && this.checkDependenceKey(item)">
            <label class="container-checkbox">
                {{ item.label }}
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="checkbox"
                />
                <span class="checkmark"></span>
            </label>
        </div>
        <div *ngIf="item.type === 'textarea' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <textarea
                [(ngModel)]="form[item.key]"
                (ngModelChange)="setValueByKeyPath(item.key, $event)"
                class="form-control form-control-sm"
            ></textarea>
        </div>
        <div *ngIf="item.type === 'alignment' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <select
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    class="form-control form-control-sm"
                >
                    <option *ngFor="let option of item.data" [ngValue]="option.value">{{ option.text }}</option>
                </select>
                <fa-stack>
                    <fa-icon icon="long-arrow-alt-left" stackItemSize="1x" transform="right-5"></fa-icon>
                    <fa-icon icon="grip-lines-vertical" stackItemSize="1x" transform="left-5"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'position' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <select
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    class="form-control form-control-sm"
                >
                    <option *ngFor="let option of item.data" [ngValue]="option.value">{{ option.text }}</option>
                </select>
                <fa-stack>
                    <fa-icon stackItemSize="1x" [fixedWidth]="true" icon="arrows-alt"></fa-icon>
                </fa-stack>
            </div>
        </div>
    </ng-container>
</ng-template>

<div class="style-editor-container">
    <ng-container *ngTemplateOutlet="fieldsData; context: { data: fieldsEditor }"></ng-container>
</div>
