<ng-template #fieldsData let-data="data">
    <ng-container *ngFor="let item of data; let i = index">
        <div *ngIf="item.type === 'text' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon stackItemSize="1x" icon="heading"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div class="mb-4" *ngIf="item.type === 'editorgroup' && this.checkDependenceKey(item)">
            <h6>{{ item.label }}</h6>
            <ng-container *ngTemplateOutlet="fieldsData; context: { data: item.children }"></ng-container>
        </div>
        <div *ngIf="item.type === 'number' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="number"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon icon="sort-numeric-up-alt" stackItemSize="1x"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'fontsize' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="number"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon icon="long-arrow-alt-up" stackItemSize="1x" transform="right-6"></fa-icon>
                    <fa-icon icon="font" stackItemSize="1x" transform="left-3"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'color' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <div class="group-input-icon">
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="color"
                    class="form-control form-control-sm"
                />
                <fa-stack>
                    <fa-icon stackItemSize="1x" [fixedWidth]="true" icon="palette"></fa-icon>
                </fa-stack>
            </div>
        </div>
        <div *ngIf="item.type === 'range' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <input
                [(ngModel)]="form[item.key]"
                (ngModelChange)="setValueByKeyPath(item.key, $event)"
                type="range"
                class="form-control form-control-sm"
            />
        </div>
        <div *ngIf="item.type === 'checkbox' && this.checkDependenceKey(item)">
            <label class="container-checkbox">
                {{ item.label }}
                <input
                    [(ngModel)]="form[item.key]"
                    (ngModelChange)="setValueByKeyPath(item.key, $event)"
                    type="checkbox"
                />
                <span class="checkmark"></span>
            </label>
        </div>
        <div *ngIf="item.type === 'textarea' && this.checkDependenceKey(item)">
            <label>{{ item.label }}</label>
            <textarea
                [(ngModel)]="form[item.key]"
                (ngModelChange)="setValueByKeyPath(item.key, $event)"
                class="form-control form-control-sm"
            ></textarea>
        </div>
    </ng-container>
</ng-template>

<div class="style-editor-container">
    <ng-container *ngTemplateOutlet="fieldsData; context: { data: fieldsEditor }"></ng-container>
</div>
