@import '../../style/scrollbar';
@import '../../style/checkbox';

$input-size-diff: 40px !default;

.card-select {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .icon {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #777777;
    }

    .column-list {
        flex: 0 0 calc(100% - #{$input-size-diff});
        height: calc(100% - #{$input-size-diff});
        min-height: $input-size-diff;
        overflow: auto;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        @include scroll-style;

        .column-item {
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }
    }

    .input-search {
        flex: 0 0 $input-size-diff;
        height: $input-size-diff;
        border-radius: 0;
        color: #777777;
    }
}
