@import '../../style/scrollbar';

.scroll-style {
    @include scroll-style
}

.card-header {
    color: #6c757d;

    button {
        color: #6c757d;
        border: none;

        &:hover {
            color: white;
            background: #6c757d;
        }
    }
}

.filter-item {
    cursor: pointer;

    &:hover {
        color: white;
        background: #6c757d;
    }
}
