@import 'style/scrollbar';

$size-sidebar: 300px;
$size-toolbar: 120px;

:host {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #e2e2e2;
    box-sizing: border-box;
    overflow: hidden;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.ddd-area {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .sidebar {
        flex: 0 0 $size-sidebar;
        height: calc(100vh - #{$size-toolbar});
        background-color: #e2e2e2;
        max-width: $size-sidebar;
        border-left: solid 1px #4444;
        box-shadow: 0 0 10px 0 rgba(99, 99, 99, 0.3);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .tab-content {
            height: calc(100% - 43px);
            overflow-x: hidden;
            overflow-y: auto;
            @include scroll-style;

            ::ng-deep .tab-pane.active {
                background: white;
                height: 100% !important;
            }
        }

        .float-icon {
            position: absolute;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        ul.nav-tabs {
            .nav-link {
                &:not(.active) {
                    border: none;
                }

                &.active {
                    position: relative;
                    border-width: 1px;
                    border-color: #fff #fff #dee2e6 !important;

                    &:after {
                        display: block;
                        width: 25px;
                        content: '';
                        border-bottom: #dc3545 4px solid !important;
                        left: 12px;
                        position: absolute;
                        bottom: -3px;
                    }

                    .tab-icon,
                    .tab-label {
                        color: #2c3e50;
                    }

                    .tab-label {
                        display: inline-block;
                    }
                }

                .tab-icon,
                .tab-label {
                    color: #6c757d;
                }

                .tab-label {
                    margin-left: 5px;
                }

                .tab-icon {
                    display: inline-block;
                }
            }
        }
    }

    .workspace {
        flex: 0 0 calc(100% - #{$size-sidebar});
        max-width: calc(100% - #{$size-sidebar});
        height: calc(100vh - #{$size-toolbar});

        ::ng-deep.main-area {
            @include scroll-style;
        }
    }

    .toolbar {
        display: flex;
        height: $size-toolbar;
        background: white;
        flex: 0 0 100%;
        max-width: 100%;
        box-shadow: 0 0 10px 0 rgba(99, 99, 99, 0.3);
        z-index: 2;
        flex-grow: 1;
        flex-direction: column;

        .toolbar-separator {
            height: 70%;
            border-left: #dcdcdc 1px solid;
            position: relative;
            top: 5px;
            margin: 0 10px;
        }

        .toolbar-menu {
            flex: 0 0 70px;

            .label-editable {
                padding: 10px 20px;
                max-width: 600px;

                .name-board {
                    color: #42484e;
                    outline: 0;
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    background: transparent;
                    border: transparent;
                    border-bottom: 1px solid transparent;
                    width: 100%;
                    height: 20px;
                    line-height: 20px;
                    margin-top: 2px;
                    transition: border-color 0.2s ease-in-out;
                    overflow: hidden;

                    &:focus {
                        border-color: rgb(66, 66, 66);
                    }
                }
            }

            .menu-container {
                width: 50%;
            }
        }

        .toolbar-tools {
            border-top: #dee2e6 solid 1px;
            flex: 0 0 50px;
            display: flex;
            padding: 8px;

            .btn-group {
                color: #42484e;
                max-width: 100%;
            }

            .btn-toolbar-dropdown {
                max-width: 100%;

                &:hover {
                    background-color: rgba(108, 117, 125, 0.1);
                }

                &:focus-within {
                    .dropdown-options {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                }

                .dropdown-options {
                    padding: 5px;
                    display: none;
                    position: absolute;
                    min-width: 0;
                    max-width: 300px;
                    min-height: 0;
                    max-height: 600px;
                    background: white;
                    overflow: auto;
                    z-index: 3;
                    box-shadow: 0 0 30px 0 rgba(100, 100, 100, .3);
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: flex-start;

                    .dropdown-options-item {
                        outline: 0;
                        background: white;
                        color: #6c757d;
                        height: 45px;
                        cursor: pointer;
                        flex: 0 0 50px;
                        border: #dcdcdc 1px solid;

                        &:hover {
                            background: rgba(108, 117, 125, 0.1);
                        }
                    }

                    .dropdown-options-list-item {
                        outline: 0;
                        background: white;
                        color: #6c757d;
                        height: 40px;
                        cursor: pointer;
                        flex: 0 0 100%;
                        border: none;
                        text-align: start;
                        vertical-align: middle;

                        &:hover {
                            background: rgba(108, 117, 125, 0.1);
                        }

                        .btn-icon {
                            width: 20px!important;
                            height: 20px!important;
                            margin: 0 5px;
                        }
                    }
                }

                .dropdown-button {
                    height: 100%;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border: 1px solid transparent;
                    line-height: 10px;
                    background: white;
                    color: #6c757d;

                    &:focus, &:hover:focus {
                        outline: 0;
                        background: #6c757d;
                        color: white;
                    }

                    &:hover {
                        background: rgba(108, 117, 125, 0.1);
                    }

                    .btn-icon {
                        font-size: 15px;
                        margin: 0 5px;
                    }

                    .btn-icon-arrow {
                        margin-left: 5px;
                        font-size: 12px;
                    }
                }
            }
        }

    }
}
