<div class="ddd-area">
    <fb-loading-bar [isShow]="isLoading"></fb-loading-bar>
    <div class="toolbar" [class.visualization]="visualizationMode">
        <div class="toolbar-menu">
            <div class="label-editable">
                <input class="name-board" [(ngModel)]="nameBoard" />
            </div>
            <div class="menu-container" [hidden]="visualizationMode">
                <fb-toolbar-menu [dashboard]="this"></fb-toolbar-menu>
            </div>
            <div class="action-container">
                <button [hidden]="visualizationMode" class="btn" (click)="toggleVisualizationMode()">
                    Visualizar <fa-icon icon="eye"></fa-icon>
                </button>
                <button [hidden]="!visualizationMode" class="btn" (click)="toggleVisualizationMode()">
                    Editar <fa-icon icon="pencil-alt"></fa-icon>
                </button>
                <button [hidden]="visualizationMode" class="btn outline">Salvar <fa-icon icon="save"></fa-icon></button>
            </div>
        </div>
        <div class="toolbar-tools" [hidden]="visualizationMode">
            <div class="btn-toolbar-dropdown">
                <button class="dropdown-button">
                    <fa-icon class="btn-icon" icon="paperclip"></fa-icon>
                    Página {{ pageSelected + 1 }} de {{ pages.length }}
                    <fa-icon class="btn-icon-arrow" icon="chevron-down"></fa-icon>
                </button>
                <div class="dropdown-options">
                    <button class="dropdown-options-list-item" (click)="addPage()">
                        <fa-icon [fixedWidth]="true" [icon]="['far', 'plus-square']" class="btn-icon"></fa-icon>
                        Adicionar Página
                    </button>
                    <div *ngFor="let page of pages; let i = index" class="dropdown-options-page-item">
                        <button class="page-item" (click)="selectPage(i)">
                            <span class="page-counter">{{i+1}}.</span> {{ page.name }}
                        </button>
                        <button class="page-remove-item" *ngIf="pages.length - 1">
                            <fa-icon [fixedWidth]="true" icon="times" (click)="deletePage($event, i)"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="toolbar-separator"></div>
            <button
                type="button"
                title="Redo"
                class="btn btn-sm btn-outline-secondary border-0"
                (click)="craftable.undo()"
            >
                <fa-icon icon="undo"></fa-icon>
            </button>
            <button
                type="button"
                title="Redo"
                class="btn btn-sm btn-outline-secondary border-0"
                (click)="craftable.redo()"
            >
                <fa-icon icon="redo"></fa-icon>
            </button>
            <div class="toolbar-separator"></div>
            <div class="btn-toolbar-dropdown">
                <button class="dropdown-button">
                    <fa-icon class="btn-icon" icon="chart-area"></fa-icon>
                    Adicionar um gráfico
                    <fa-icon class="btn-icon-arrow" icon="chevron-down"></fa-icon>
                </button>
                <div class="dropdown-options">
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'bar-chart' })">
                        <fb-icon icon="bar-chart"></fb-icon>
                    </button>
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'line-chart' })">
                        <fb-icon icon="line-chart"></fb-icon>
                    </button>
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'pie-chart' })">
                        <fb-icon icon="pie-chart"></fb-icon>
                    </button>
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'table' })">
                        <fb-icon icon="table"></fb-icon>
                    </button>
                </div>
            </div>
            <div class="toolbar-separator"></div>
            <div class="btn-toolbar-dropdown">
                <button class="dropdown-button">
                    <fa-icon class="btn-icon" icon="filter"></fa-icon>
                    Adicionar Filtro
                    <fa-icon class="btn-icon-arrow" icon="chevron-down"></fa-icon>
                </button>
                <div class="dropdown-options list">
                    <button class="dropdown-options-list-item" (click)="drawNewLego({ type: 'date-filter' })">
                        <fa-icon [fixedWidth]="true" icon="calendar-alt" class="btn-icon"></fa-icon>
                        Intervalo de Datas
                    </button>
                    <button class="dropdown-options-list-item" (click)="drawNewLego({ type: 'input-select' })">
                        <fa-icon [fixedWidth]="true" icon="list-ul" class="btn-icon"></fa-icon>
                        Lista de Seleção
                    </button>
                    <button class="dropdown-options-list-item" (click)="drawNewLego({ type: 'card-select' })">
                        <fa-icon [fixedWidth]="true" icon="list-alt" class="btn-icon"></fa-icon>
                        Caixa de Seleção
                    </button>
                    <button class="dropdown-options-list-item" (click)="drawNewLego({ type: 'input-text' })">
                        <fa-icon [fixedWidth]="true" icon="font" class="btn-icon"></fa-icon>
                        Caixa de Entrada
                    </button>
                </div>
            </div>
            <div class="toolbar-separator"></div>
            <div class="btn-toolbar-dropdown">
                <button class="dropdown-button" (click)="filterModal = !filterModal">
                    <fa-icon class="btn-icon" icon="database"></fa-icon>
                    Adicionar Dados
                </button>
            </div>
        </div>
    </div>
    <div class="workspace" [class.visualization]="visualizationMode">
        <ng-craftable #craftable
                      [minHeight]="40"
                      [minWidth]="40"
                      (selectionChange)="selectionChange($event)"
                      [visualizationMode]="visualizationMode">
            <ng-template #template let-data>
                <!-- Charts -->
                <fb-bar-chart #chart *ngIf="data.type === 'bar-chart'" [legoData]="data"></fb-bar-chart>
                <fb-pie-chart #chart *ngIf="data.type === 'pie-chart'" [legoData]="data"> </fb-pie-chart>
                <fb-line-chart #chart *ngIf="data.type === 'line-chart'" [legoData]="data"> </fb-line-chart>
                <fb-table #chart *ngIf="data.type === 'table'" [legoData]="data"> </fb-table>
                <!-- Filters -->
                <fb-date-filter #filter *ngIf="data.type === 'date-filter'" [legoData]="data"> </fb-date-filter>
                <fb-input-select #filter *ngIf="data.type === 'input-select'" [legoData]="data"> </fb-input-select>
                <fb-input-text #filter *ngIf="data.type === 'input-text'" [legoData]="data"></fb-input-text>
                <fb-card-select #filter *ngIf="data.type === 'card-select'" [legoData]="data"></fb-card-select>
            </ng-template>
        </ng-craftable>
    </div>
    <div class="sidebar" [hidden]="visualizationMode || !showTabsWidget">
        <ul ngbNav #nav="ngbNav" class="nav-tabs"  [hidden]="!showTabsWidget" [destroyOnHide]="false">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <fa-icon [fixedWidth]="true" class="tab-icon" icon="database"></fa-icon>
                    <span class="tab-label">Dados</span>
                </a>
                <ng-template ngbNavContent>
                    <fb-data-source-selector
                        [hidden]="!showLegoOptionsEditor"
                        #datasourceSelector
                        (changedDataSource)="updateLegoDataSource($event)"
                        [dataSources]="dataSources"
                    ></fb-data-source-selector>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <fa-icon [fixedWidth]="true" class="tab-icon" icon="pencil-ruler"></fa-icon>
                    <span class="tab-label">Opções</span>
                </a>
                <ng-template ngbNavContent>
                    <fb-style-editor
                        [hidden]="!showLegoOptionsEditor"
                        #styleEditorWidget
                        (changedOptions)="updateLegoOptions($event)"
                    ></fb-style-editor>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" [hidden]="!showTabsWidget"></div>
    </div>
</div>
<fb-modal-panel [showPainel]="filterModal">
    <fb-sql-builder
        [(showPanel)]="filterModal"
    ></fb-sql-builder>
</fb-modal-panel>
