<div class="ddd-area">
    <div class="loading-bar"></div>
    <div class="toolbar">
        <div class="toolbar-menu">
            <div class="label-editable">
                <input class="name-board" [(ngModel)]="nameBoard" />
            </div>
            <div class="menu-container">
                <fb-toolbar-menu [craftable]="craftable"></fb-toolbar-menu>
            </div>
        </div>
        <div class="toolbar-tools">
            <button
                type="button"
                title="Redo"
                class="btn btn-sm btn-outline-secondary border-0"
                (click)="craftable.undo()"
            >
                <fa-icon icon="undo"></fa-icon>
            </button>
            <button
                type="button"
                title="Redo"
                class="btn btn-sm btn-outline-secondary border-0"
                (click)="craftable.redo()"
            >
                <fa-icon icon="redo"></fa-icon>
            </button>
            <div class="toolbar-separator"></div>
            <div class="btn-toolbar-dropdown">
                <button class="dropdown-button">
                    <fa-icon class="btn-icon" icon="chart-area"></fa-icon>
                    Adicionar um gráfico
                    <fa-icon class="btn-icon-arrow" icon="chevron-down"></fa-icon>
                </button>
                <div class="dropdown-options">
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'bar-chart' })">
                        <fb-icon icon="bar-chart"></fb-icon>
                    </button>
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'line-chart' })">
                        <fb-icon icon="line-chart"></fb-icon>
                    </button>
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'pie-chart' })">
                        <fb-icon icon="pie-chart"></fb-icon>
                    </button>
                    <button class="dropdown-options-item" (click)="drawNewLego({ type: 'table' })">
                        <fb-icon icon="table"></fb-icon>
                    </button>
                </div>
            </div>
            <div class="toolbar-separator"></div>
            <div class="btn-toolbar-dropdown">
                <button class="dropdown-button">
                    <fa-icon class="btn-icon" icon="sliders-h"></fa-icon>
                    Adicionar controle
                    <fa-icon class="btn-icon-arrow" icon="chevron-down"></fa-icon>
                </button>
                <div class="dropdown-options list">
                    <button class="dropdown-options-list-item">
                        <fa-icon [fixedWidth]="true" icon="calendar-alt" class="btn-icon"></fa-icon>
                        Intervalo de Datas
                    </button>
                    <button class="dropdown-options-list-item">
                        <fa-icon [fixedWidth]="true" icon="list" class="btn-icon"></fa-icon>
                        Lista de Seleção
                    </button>
                    <button class="dropdown-options-list-item">
                        <fa-icon [fixedWidth]="true" icon="font" class="btn-icon"></fa-icon>
                        Caixa de Entrada
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <div [hidden]="!isLoading">
                    <fa-icon [icon]="['fas', 'circle-notch']" size="2x" [spin]="true"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="workspace">
        <ng-craftable #craftable (selectionChange)="selectionChange($event)" [visualizationMode]="visualizationMode">
            <ng-template #template let-data>
                <fb-bar-chart
                    #chart
                    *ngIf="data.type === 'bar-chart'"
                    [legoData]="data"
                    [dataGetter]="dataGetter"
                ></fb-bar-chart>
                <fb-pie-chart
                    #chart
                    *ngIf="data.type === 'pie-chart'"
                    [legoData]="data"
                    [dataGetter]="dataGetter">
                </fb-pie-chart>
                <fb-line-chart
                    #chart
                    *ngIf="data.type === 'line-chart'"
                    [legoData]="data"
                    [dataGetter]="dataGetter">
                </fb-line-chart>
                <span *ngIf="data.type === 'table'"> {{ data | json }}</span>
            </ng-template>
        </ng-craftable>
    </div>
    <div class="sidebar">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <fa-icon [fixedWidth]="true" class="tab-icon" icon="database"></fa-icon>
                    <span class="tab-label">Dados</span>
                </a>
                <ng-template ngbNavContent>
                    <fb-data-source-selector
                        [hidden]="!showLegoOptionsEditor"
                        #datasourceSelector
                        (changedDataSource)="updateLegoDataSource($event)"
                        [dataSources]="dataSources"
                    ></fb-data-source-selector>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <fa-icon [fixedWidth]="true" class="tab-icon" icon="swatchbook"></fa-icon>
                    <span class="tab-label">Estilo</span>
                </a>
                <ng-template ngbNavContent>
                    <fb-style-editor
                        [hidden]="!showLegoOptionsEditor"
                        #styleEditorComponent
                        (changedOptions)="updateLegoOptions($event)"
                    ></fb-style-editor>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>
