<ng-template #tablesList let-onselect="onselect" let-excludeList="excludeList">
    <ul class="sb-list-group">
        <ng-container *ngFor="let table of tables">
            <li class="sb-list-group-item" (click)="onselect(table)" [hidden]="excludeList?.includes(table)">
                <fa-icon icon="table" [fixedWidth]="true"></fa-icon>
                {{ table.name }}
            </li>
        </ng-container>
    </ul>
</ng-template>
<ng-template #columnsList let-onselect="onselect" let-columns="columns" let-excludeList="excludeList">
    <ul class="sb-list-group">
        <ng-container *ngFor="let item of columns">
            <li class="sb-list-group-item" (click)="onselect(item)" [hidden]="excludeList?.includes(item)">
                <fa-icon *ngIf="item.type === 'custom'" icon="code" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="item.type === 'number'" icon="calculator" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="item.type === 'string'" icon="font" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="item.type === 'date'" icon="calendar" [fixedWidth]="true"></fa-icon>
                {{ item.name }}
            </li>
        </ng-container>
    </ul>
</ng-template>
<ng-template #columnsGroupList let-onselect="onselect" let-columns="columns" let-excludeList="excludeList">
    <ul class="sb-list-group" *ngFor="let item of columns">
        <li class="sb-list-group-separator">
            {{ item.name }}
        </li>
        <ng-container *ngFor="let el of item?.keys">
            <li class="sb-list-group-item" (click)="onselect(el)" [hidden]="excludeList?.includes(el)">
                <fa-icon *ngIf="el.type === 'custom'" icon="code" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="el.type === 'number'" icon="calculator" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="el.type === 'string'" icon="font" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="el.type === 'date'" icon="calendar" [fixedWidth]="true"></fa-icon>
                {{ el.name }}
            </li>
        </ng-container>
    </ul>
</ng-template>
<ng-template #columnsFilterBuild let-columns="columns" let-onselect="onselect">
    <ul class="sb-list-group" *ngFor="let item of columns" [hidden]="selectedColumnFilter">
        <li class="sb-list-group-separator">
            {{ item.name }}
        </li>
        <ng-container *ngFor="let el of item?.keys">
            <li class="sb-list-group-item" (click)="onSelectedFilter(el)">
                <fa-icon *ngIf="el.type === 'custom'" icon="code" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="el.type === 'number'" icon="calculator" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="el.type === 'string'" icon="font" [fixedWidth]="true"></fa-icon>
                <fa-icon *ngIf="el.type === 'date'" icon="calendar" [fixedWidth]="true"></fa-icon>
                {{ el.name }}
            </li>
        </ng-container>
    </ul>
    <div class="filter-selector-container" [hidden]="!selectedColumnFilter">
        <span class="filter-reset-selected" (click)="resetFilterSelector()">
            <fa-icon icon="arrow-left"></fa-icon>
        </span>
        <span class="filter-column-selected">{{ selectedColumnFilter?.name }}</span>
        <div class="form-group filter-type">
            <label>Operador</label>
            <select class="form-control" [(ngModel)]="selectedOperator" (ngModelChange)="onSelectedOperator($event)">
                <option *ngFor="let operatorFilter of operatorsFilter" [ngValue]="operatorFilter">
                    {{ operatorFilter.text }}
                </option>
            </select>
        </div>
        <div class="form-group filter-value"
             *ngFor="let operatorValue of operatorsValues; let i = index; trackBy: trackByValorFilter">
            <label *ngIf="i === 0">Valor</label>
            <input *ngIf="operatorValue.type === 'string'" type="text" class="form-control"
                   [ngModel]="operatorValue.value" (ngModelChange)="operatorsValues[i].value = $event"/>
            <input *ngIf="operatorValue.type === 'number'" type="number" class="form-control"
                   [ngModel]="operatorValue.value" (ngModelChange)="operatorsValues[i].value = $event"/>
            <input *ngIf="operatorValue.type === 'date'" type="date" class="form-control"
                   [ngModel]="operatorValue.value" (ngModelChange)="operatorsValues[i].value = $event"/>
        </div>
        <button class="filter-save btn" [disabled]="!filterIsValid" (click)="addFilter()">
            Adicionar Filtro
        </button>
    </div>
</ng-template>
<div class="card border-0">
    <div class="card-header d-flex justify-content-between">
        <h6 style="margin: 0.5rem">
            <fa-icon icon="database" class="mr-2"></fa-icon>
            Criar Fonte de Dados
        </h6>
        <button class="btn btn-outline-dark btn-sm" (click)="closePanel()">
            FECHAR
            <fa-icon icon="times" class="ml-2"></fa-icon>
        </button>
    </div>
    <div class="card-body scroll-style">
        <div class="sql-build-container">
            <div class="from-box">
                <span class="box-title">Dados</span>
                <div class="box-container">
                    <div class="item" [hidden]="model?.table">
                        <button (click)="popoverFirst.show($event)" class="btn item-option outline">
                            Escolha uma Tabela
                        </button>
                        <fb-popover #popoverFirst title="Tabelas">
                            <ng-container
                                *ngTemplateOutlet="
                                    tablesList;
                                    context: { onselect: selectTable, excludeList: [model?.table] }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                    <div class="item" [hidden]="!model?.table">
                        <button (click)="popoverTable.show($event)" class="btn item-option">
                            {{ model?.table?.name }}
                        </button>
                        <fb-popover #popoverTable title="Tabelas">
                            <ng-container
                                *ngTemplateOutlet="
                                    tablesList;
                                    context: { onselect: selectTable, excludeList: [model?.table] }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                </div>
            </div>
            <div #forkBox class="fork-box collapsed" [hidden]="!model?.table">
                <div class="box-close" (click)="clearModelField('forks', forkBox)">
                    <fa-icon icon="times"></fa-icon>
                </div>
                <span class="box-title">Unir</span>
                <div class="box-icon" (click)="openBox(forkBox)">
                    <fa-icon class="item-option-icon" [icon]="['custom', 'left-join']" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="box-container" *ngFor="let item of model?.forks; let i = index">
                    <div class="item" [hidden]="!model?.table">
                        <button class="btn item-option" disabled>
                            {{ model?.table?.name }}
                        </button>
                    </div>
                    <div class="item" [hidden]="!model?.table">
                        <fa-icon
                            *ngIf="item?.joinType === 1"
                            class="item-option-icon"
                            (click)="toggleForkType(i)"
                            [icon]="['custom', 'left-join']"
                            [fixedWidth]="true"
                        ></fa-icon>
                        <fa-icon
                            rotate="180"
                            *ngIf="item?.joinType === 2"
                            class="item-option-icon"
                            (click)="toggleForkType(i)"
                            [icon]="['custom', 'left-join']"
                            [fixedWidth]="true"
                        ></fa-icon>
                        <fa-icon
                            *ngIf="item?.joinType === 3"
                            class="item-option-icon"
                            (click)="toggleForkType(i)"
                            [icon]="['custom', 'inner-join']"
                            [fixedWidth]="true"
                        ></fa-icon>
                    </div>
                    <div class="item">
                        <button class="btn item-option" (click)="popoverForkTable.show($event)" [hidden]="!item?.table">
                            {{ item?.table?.name }}
                        </button>
                        <button
                            (click)="popoverForkTable.show($event)"
                            class="btn item-option outline"
                            [hidden]="item?.table"
                        >
                            Escolha uma Tabela
                        </button>
                        <fb-popover #popoverForkTable title="Tabelas">
                            <ng-container
                                *ngTemplateOutlet="
                                    tablesList;
                                    context: { onselect: selectForkKey(i, 'table'), excludeList: [model?.table] }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                    <div class="item" [hidden]="!item?.table">
                        <fa-icon class="item-icon" icon="random" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="item" [hidden]="!item?.table">
                        <button
                            class="btn item-option"
                            (click)="popoverColumnPrimary.show($event)"
                            [hidden]="!item?.columnPrimary"
                        >
                            {{ item?.columnPrimary?.name }}
                        </button>
                        <button
                            (click)="popoverColumnPrimary.show($event)"
                            class="btn item-option outline"
                            [hidden]="item?.columnPrimary"
                        >
                            Escolha uma Coluna
                        </button>
                        <fb-popover #popoverColumnPrimary title="Colunas">
                            <ng-container
                                *ngTemplateOutlet="
                                    columnsList;
                                    context: {
                                        onselect: selectForkKey(i, 'columnPrimary'),
                                        columns: model?.table?.keys
                                    }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                    <div class="item" [hidden]="!item?.table">
                        <fa-icon class="item-icon" icon="equals" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="item" [hidden]="!item?.table">
                        <button
                            class="btn item-option"
                            (click)="popoverColumnSecondary.show($event)"
                            [hidden]="!item?.columnSecondary"
                        >
                            {{ item?.columnSecondary?.name }}
                        </button>
                        <button
                            (click)="popoverColumnSecondary.show($event)"
                            class="btn item-option outline"
                            [hidden]="item?.columnSecondary"
                        >
                            Escolha uma Coluna
                        </button>
                        <fb-popover #popoverColumnSecondary title="Colunas">
                            <ng-container
                                *ngTemplateOutlet="
                                    columnsList;
                                    context: {
                                        onselect: selectForkKey(i, 'columnSecondary'),
                                        columns: item?.table?.keys
                                    }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                </div>
                <div class="box-container" *ngIf="!model?.forks?.length">
                    <div class="item">
                        <button class="btn item-option outline readonly add" (click)="addFork()">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div #selectBox class="select-box collapsed" [hidden]="!model?.table">
                <div class="box-close" (click)="clearModelField('select', selectBox)">
                    <fa-icon icon="times"></fa-icon>
                </div>
                <span class="box-title">Colunas</span>
                <div class="box-icon" (click)="openBox(selectBox)">
                    <fa-icon class="item-option-icon" icon="columns" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="box-container">
                    <div class="item" *ngFor="let item of model?.select">
                        <div class="item-option">
                            {{ item.name }}
                            <fa-icon
                                icon="times"
                                class="item-option-button"
                                (click)="removeItem(model?.select, item)"
                            ></fa-icon>
                        </div>
                    </div>
                    <div class="item">
                        <button class="btn item-option outline readonly add" (click)="popoverForkSelect.show($event)">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        <fb-popover #popoverForkSelect title="Colunas">
                            <ng-container
                                *ngTemplateOutlet="
                                    columnsGroupList;
                                    context: {
                                        excludeList: model?.select,
                                        onselect: addSelect,
                                        columns: tablesOfModel
                                    }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                </div>
            </div>
            <div #groupByBox class="groupby-box collapsed" [hidden]="!model?.table">
                <div class="box-close" (click)="clearModelField('group', groupByBox)">
                    <fa-icon icon="times"></fa-icon>
                </div>
                <span class="box-title">Agrupar</span>
                <div class="box-icon" (click)="openBox(groupByBox)">
                    <fa-icon class="item-option-icon" icon="layer-group" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="box-container">
                    <div class="item" *ngFor="let item of model?.group">
                        <div class="item-option">
                            {{ item.name }}
                            <fa-icon
                                icon="times"
                                class="item-option-button"
                                (click)="removeItem(model?.group, item)"
                            ></fa-icon>
                        </div>
                    </div>
                    <div class="item">
                        <button class="btn item-option outline readonly add" (click)="popoverForkGroup.show($event)">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        <fb-popover #popoverForkGroup title="Colunas">
                            <ng-container
                                *ngTemplateOutlet="
                                    columnsGroupList;
                                    context: {
                                        excludeList: model?.group,
                                        onselect: addGroup,
                                        columns: tablesOfModel
                                    }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                </div>
            </div>
            <div #filterBox class="filter-box collapsed" [hidden]="!model?.table">
                <div class="box-close" (click)="clearModelField('filters', filterBox)">
                    <fa-icon icon="times"></fa-icon>
                </div>
                <span class="box-title">Filtrar</span>
                <div class="box-icon" (click)="openBox(filterBox)">
                    <fa-icon class="item-option-icon" icon="filter" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="box-container">
                    <div class="item" *ngFor="let item of model?.filters">
                        <div class="item-option">
                            <span><b>{{ item?.column?.name }}</b> {{ item?.operator?.text }}
                                <b>{{ mapValuesToString(item?.values) }}</b></span>
                            <fa-icon
                                icon="times"
                                class="item-option-button"
                                (click)="removeItem(model?.filters, item)"
                            ></fa-icon>
                        </div>
                    </div>

                    <div class="item">
                        <button class="btn item-option outline readonly add" (click)="popoverFilter.show($event)">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        <fb-popover #popoverFilter title="Filtrar" (clickOutside)="resetFilterSelector()">
                            <ng-container
                                *ngTemplateOutlet="
                                    columnsFilterBuild;
                                    context: {
                                        onselect: addGroup,
                                        columns: tablesOfModel
                                    }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                </div>
            </div>
            <div #orderByBox class="orderby-box collapsed" [hidden]="!model?.table">
                <div class="box-close" (click)="clearModelField('order', orderByBox)">
                    <fa-icon icon="times"></fa-icon>
                </div>
                <span class="box-title">Ordernar</span>
                <div class="box-icon" (click)="openBox(orderByBox)">
                    <fa-icon class="item-option-icon" icon="exchange-alt" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="box-container">
                    <div class="item" *ngFor="let item of model?.order">
                        <div class="item-option">
                            <fa-icon
                                [icon]="item.direction === 'up' ? 'long-arrow-alt-up' : 'long-arrow-alt-down'"
                                class="item-option-button"
                                (click)="toggleOrderDirection(item)"
                            ></fa-icon>
                            {{ item.name }}
                            <fa-icon
                                icon="times"
                                class="item-option-button"
                                (click)="removeItem(model?.order, item)"
                            ></fa-icon>
                        </div>
                    </div>
                    <div class="item">
                        <button class="btn item-option outline readonly add" (click)="popoverForkOrder.show($event)">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        <fb-popover #popoverForkOrder title="Colunas">
                            <ng-container
                                *ngTemplateOutlet="
                                    columnsGroupList;
                                    context: {
                                        excludeList: model?.order,
                                        onselect: addOrder,
                                        columns: tablesOfModel
                                    }
                                "
                            ></ng-container>
                        </fb-popover>
                    </div>
                </div>
            </div>
            <div #topBox class="top-box collapsed" [hidden]="!model?.table">
                <div class="box-close" (click)="clearModelField('top', topBox)">
                    <fa-icon icon="times"></fa-icon>
                </div>
                <span class="box-title">Limite</span>
                <div class="box-icon" (click)="openBox(topBox)">
                    <fa-icon class="item-option-icon" icon="list" [fixedWidth]="true"></fa-icon>
                </div>
                <div class="box-container">
                    <div class="item">
                        <input class="item-option-input" [(ngModel)]="model.top" type="number"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted d-flex justify-content-end">
        <button class="btn btn-outline-primary mb-2" (click)="saveThisModel()">
            Salvar
            <fa-icon icon="save" class="mr-2"></fa-icon>
        </button>
    </div>
</div>
