$datepicker-color-primary: #2c3e50 !default;

ngb-datepicker {
    .btn-link {
        color: $datepicker-color-primary;
    }

    .bg-primary {
        background-color: $datepicker-color-primary !important;
    }
}

.date-picker {
    --dp-border-color: #ccc;
    --dp-font-color: #777777;
    --dp-font-size: 16px;
    position: relative;
    pointer-events: auto;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid var(--dp-border-color, #ccc);
    padding: 5px 10px;
    font-size: var(--dp-font-size, 16px);
    line-height: 18px;
    border-radius: 0;
    color: var(--dp-text-color, #777777);
    background-color: transparent;
    background-image: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    width: 100%;

    &:hover {
        background-color: rgba(119, 119, 119, 0.1);
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }


    .btn-icon {
        position: absolute;
        left: 5px;
    }

    .btn-icon-drop {
        position: absolute;
        right: 5px;
    }
}
.ngb-dp-week {
    justify-content: space-between;
}
.interval-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5px 10px 5px;

    .picker {
        text-align: center;
        flex: 0 0 50%;
        max-width: 50%;

        .title {
            font-weight: 600;
            text-align: left;
            padding: 0 10px;
        }
    }
}

.btn-apply {
    background-color: $datepicker-color-primary;
    color: white;
}

.card-footer, .card-header {
    padding: 8px;
}

.close-modal {
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
