body {
  height: 100vh;
  margin: 0;
  background: rgb(226, 226, 226);
}

@import "./assets/ng-select";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";

/* Fix AgGrid */
.ag-theme-fresh .ag-header {
    background-image: linear-gradient(white, white) !important;
}

.ag-theme-fresh .ag-primary-cols-header-panel {
    height: 32px;
}

.ag-theme-fresh .ag-column-drop-cell {
    background-image: linear-gradient(white, white) !important;
}
